.dark-dropdown .ant-dropdown-menu {
     background-color: #001529;
}
   
.light-dropdown .ant-dropdown-menu {
     background-color: #1677ff;
}

.dark-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
     color: white;
}

.light-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
     color: white;
}
